@model Models.User
@{
    ViewData["Title"] = "LogIn";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/lib/bootstrap/dist/css/User/user-login-bootstrap.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container login-container">

    <div class="row">

        <div class="col-md-6 login-form-1">
            <form asp-action="LogIn">
                <h3>Login</h3>

                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Email" name="Email" placeholder="Email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="Password" name="Password" placeholder="Password" value="" />
                </div>
                <div class="form-group">
                    <div id="errorTextLogin" style="color: white">

                    </div>
                    <input type="submit" class="btnSubmitLogin" value="Login" />

                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Forgot Password?</a>
                </div>
            </form>
        </div>

        <div class="col-md-6 login-form-2">
            <div class="login-logo">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            </div>
            <form asp-action="CreateAccount">
                <h3>Don't have an account?</h3>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Email" placeholder="Email" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Name" placeholder="Name" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="SurName" placeholder="Surname" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" value="" />
                </div>
                <div class="form-group">
                    <div id="errorTextRegister" style="color: white">

                    </div>
                    <input type="submit" class="btnSubmitCreateAccount" value="Create Account" />
                </div>
            </form>
        </div>
    </div>

</div>

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">

        var div = document.createElement('div');
        div.innerHTML = '@TempData["alertMessage"]';
        console.log(div.innerHTML);

        document.getElementById('errorTextLogin').appendChild(div);
    </script>
}
@if (null != TempData["alertMessageRegister"])
{
    <script type="text/javascript">

        var div = document.createElement('div');
        div.innerHTML = '@TempData["alertMessageRegister"]';
        console.log(div.innerHTML);

        document.getElementById('errorTextRegister').appendChild(div);
    </script>
}

