@using System.IO
@using System.Runtime.Serialization.Formatters.Binary
@using Microsoft.AspNetCore.Http
@using Models.Enums
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BioscoopKillerApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Movie" asp-action="Index">BioscoopKillerApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <form class="form-inline my-2 my-lg-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-item" style="padding-right: 20px;">Welcome, @User.Identity.Name</a>
                            <button class="btn btn-danger my-2 my-sm-0" type="submit" asp-controller="User" asp-action="LogOut">Log Out</button>
                        }
                        else
                        {
                            <button class="btn btn-danger my-2 my-sm-0" type="submit" asp-controller="User" asp-action="LogIn">Log In</button>
                        }
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="AllMovies">Movies</a>
                        </li>
                        @if (User.IsInRole(Roles.Admin.ToString()))
                        {
                            <li class="nav-item myDropdown">
                                <a class="nav-link text-dark myDropBtn">Add</a>
                                <div class="myDropdown-content">
                                    <a asp-area="" asp-controller="Movie" asp-action="AddMovie">Add Movie</a>
                                    <a asp-area="" asp-controller="Movie" asp-action="AddAiringMovie">Add Airing</a>
                                </div>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        &copy; 2019 - BioscoopKillerApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    .myDropBtn {
        color: white;
        font-size: 16px;
        border: none;
    }

    .myDropdown {
        position: relative;
        display: inline-block;
    }

    .myDropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .myDropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .myDropdown-content a:hover {
                background-color: #ddd;
            }

    .myDropdown:hover .myDropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
    }
</style>
