@model Models.Review
<div class="comments-section-grid comments-section-middle-grid userComment">
    <div class="col-md-10 comments-section-grid-text">
        <h4><a>@Model.ReviewTitle</a></h4>
        <label>@Model.User.Name at @Model.PostedDate.Date.ToShortDateString() </label>
        <p>@Model.ReviewText</p>
        </div>
    <div class="clearfix"></div>
</div>